@import "~bootstrap/scss/bootstrap";

h1 {
    margin-bottom: 20px;
}

.card {
    box-shadow: 0 2px 4px rgba(204, 204, 204, 0.8);
    // padding: 20px 40px;
    padding: 20px;
    // margin: 20px 40px;
    // margin: 5;
}

.container {
    padding: 0;
    margin: 5;
}

.logout-btn {
    background: none !important;
    border: none;
    padding: 8 !important;
    /*optional*/
    font-family: var(--bs-font-sans-serif);
    // /*input has OS specific font-family*/
    color: #fff;
    // cursor: pointer;
}

.projects ul,
.products ul {
    background: rgb(42, 189, 103);
}
